[submodule "i3Scripts"]
	path = configs/.config/i3/scripts
	url = https://github.com/vivien/i3blocks-contrib
[submodule ".config/i3/scripts"]
	path = configs/.config/i3/scripts
	url = https://github.com/vivien/i3blocks-contrib
