[user]
	email = dsiq3g@gmail.com
	name = Samuel Jackson
[color]
	ui = auto
[core]
	pager = less -FMRiX
	editor = nvim
	excludesfile = ~/.gitignore_global
[push]
	default = simple
[alias]
  finda = "!grepalias() { git config --global --get-regexp alias | grep -i \"$1\" | awk -v nr=2 '{sub(/^alias\\./,\"\")};{printf \"\\033[31m%s\\033[1;37m\", $1};{sep=FS};{for (x=nr; x<=NF; x++) {printf \"%s%s\", sep, $x; }; print \"\\033[0;39m\"}'; }; grepalias"
	dag = log --graph --format='format:%C(yellow)%h%C(reset) %C(blue)\"%an\" <%ae>%C(reset) %C(magenta)%cr%C(reset)%C(auto)%d%C(reset)%n%s' --date-order
  parselog="log --pretty=format:'[%h] %an %ad %s' --date=short --numstat"
	wdiff = diff --color-words
  fix = "!f() { $EDITOR -p `git diff --name-only --diff-filter=U`; }; f"
  root = "rev-parse --show-toplevel"
  nlog = "log --numstat"
  authors = "shortlog -s"
  count = "rev-list --count"
  clear = "!f() { git reset --hard HEAD && git clean -f -d; }; f"
	damb = "!f() { curBranch=$(git branch --show-current); target=${1:-$curBranch}; echo \"=== Deleting all branches merged into $target ===\"; sleep 3; git checkout $target --quiet; git branch --merged | grep -E -v \"(main|develop|dev|staging|master|${curBranch}|${target})\" | xargs git branch -d; git checkout $curBranch --quiet; echo \"=== All merged branches deleted ===\"; }; f"
	ignore = "update-index --assume-unchanged"
	track = "update-index --no-assume-unchanged"
	argoID = "rev-parse --short=8 HEAD"
	argo = "!f() { echo \"$(git branch --show-current | tr -d '\n' | tr -C \"[:alnum:]\" \"-\" | tr '[:upper:]' '[:lower:]')-$(git rev-parse --short=8 HEAD)\\c\"; }; f"
	remote-update = remote update --prune
[diff]
	tool = vimdiff2
[merge]
	tool = vimdiff2
[pull]
	rebase = true
[rerere]
	enable = true
[include]
	path = ~/.gitconfig.local
[init]
	defaultBranch = main
[fetch]
	prune = true
